<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983945287425-p0e89v0gumtfq1qsb7b3biu3s49q44sm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983945287425-p0e89v0gumtfq1qsb7b3biu3s49q44sm</string>
	<key>API_KEY</key>
	<string>AIzaSyB5knEjDj_yC1RcNM61ABfYdRZmSa38wLE</string>
	<key>GCM_SENDER_ID</key>
	<string>983945287425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luiscalmon.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>ios-firebase-20201209</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-firebase-20201209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:983945287425:ios:868d35d82321bfa227ed00</string>
</dict>
</plist>
